body {
    background-color: #ffffff;
    font-family: "FreeSans", "sans-serif", "Sans", "Arial";
    color: #000000;
    margin: 0;
}

.top_bar {
    background-color: #494949;
    width: 100%;
}
#top_content {
    display: flex;
    justify-content: space-between;
    position: sticky;
    height: 44px;
    top: 0px;
    box-shadow: 0 0 0 1px #494949;
}
#top_content a {
    text-decoration: none;
}

.top_spacing {
    height: 20px;
}

.wrapper {
    padding: 0px 20% 0px 20%;
}
.wrapper img {
    max-width: 700px;
    max-height: 1200px;
}

.fork_banner {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    border: 0;
}

/*Default noVNC logo.*/
/* From: http://fonts.googleapis.com/css?family=Orbitron:700 */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    src: local('?'), url('noVNC/app/styles/Orbitron700.woff') format('woff'),
    url('noVNC/app/styles/Orbitron700.ttf') format('truetype');
}
.noVNC_logo {
    color: yellow;
    font-size: 3.5em;
    font-family: 'Orbitron', 'OrbitronTTF', sans-serif;
    line-height: 95%;
    text-shadow: 0.1em 0.1em 0 black;
    transition: 0.4s;
    padding: 0 0 0 20%;
}
.noVNC_logo span {
    color:green;
}

#menu {
    text-align: center;
    font-size: 19px;
    padding: 12px 20% 12px 35px;
    z-index: 1;
    top: 0px;
    white-space: nowrap;
    overflow: hidden;
}
#menu a {
    color: #ffffff;
    padding: 0 15px 0 15px;
}

#menu_icon {
    cursor: pointer;
    display: none;
    padding: 0.2em 1.5em 0.6em 1.5em;
}
#menu_icon div {
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    margin: 5px 0;
}

#content a {
    color: rgb(110, 132, 163);
    text-decoration: none;
    font-weight: bold;
}
#content h1 {
    font-size: 1.5em;
    color: #24120f;
    border-bottom: 1px solid #e0e0e0;
}

pre {
    background: #000;
    color: #fff;
    padding: 15px;
}

hr {
    border: 0;
    border-bottom: 1px solid #aaa;
}

.footer {
    text-align: center;
    padding-top: 30px;
    font-style: italic;
}

@media (max-width: 1200px) {

    .wrapper {
        padding: 0 1em 0 1em;
    }
    .noVNC_logo {
        padding-left: 1em;
    }
    #menu {
        padding: 0.8em 2em 0.8em 2em;
    }
    .github-fork-ribbon {
        display: none;
    }
}

@media (max-width: 920px) {

    #menu {
        display: none;
        top: 64px;
    }
    #menu.open {
        display: block;
        position: absolute;
        width: 100%;
        background-color: #a9a9a9;
        padding: 8px;
    }
    #menu_icon {
        display: block;
    }
}
