body {
    background-color: #ffffff;
    font-family: "FreeSans", "sans-serif", "Sans", "Arial";
    color: #000000;
    margin: 0;
}

#top {
    padding-top: 0.5em;
    background-color: #494949;
    text-align: center;
}
#top a {
    text-decoration: none;
}

.wrapper {
    position: relative;
    margin: auto;
    max-width: 700px;
}
.wrapper img {
    max-width: 700px;
    max-height: 1200px;
}

.fork_banner {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    border: 0;
}

/*Default noVNC logo.*/
/* From: http://fonts.googleapis.com/css?family=Orbitron:700 */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    /* TODO: update to using the noVNC/ submodule instead once that is updated */
    src: local('?'), url('noVNC-latest/app/styles/Orbitron700.woff') format('woff'),
    url('noVNC-latest/app/styles/Orbitron700.ttf') format('truetype');
}
.noVNC_logo {
    color: yellow;
    font-size: 4.0em;
    font-family: 'Orbitron', 'OrbitronTTF', sans-serif;
    line-height: 90%;
    text-shadow: 0.1em 0.1em 0 black;
}
.noVNC_logo span {
    color:green;
}
#noVNC_author {
    font-size: 2.0em;
    color: #d0d0d0;
}
#noVNC_author a {
    color: #d0d0d0;
}

.description {
    font-size: 1.2em;
    margin-top: 10px;
    padding: 0.5em;
    font-style: italic;
    background-color: #909090;
    color: #ffffff;
}

.download {
    display: inline;
    position: absolute;
    right: 0px;
}

#content a {
    color: rgb(110, 132, 163);
    text-decoration: none;
    font-weight: bold;
}
#content h1 {
    font-size: 1.5em;
    color: #24120f;
    border-bottom: 1px solid #e0e0e0;
}

pre {
    background: #000;
    color: #fff;
    padding: 15px;
}

hr {
    border: 0;
    border-bottom: 1px solid #aaa;
}

.footer {
    text-align: center;
    padding-top: 30px;
    font-style: italic;
}
